body {
    margin: 0px;
}

header {
    height: 70px;
    widows: 100%;
    background-color: black;
    opacity: 0.3;
}

header h3 {
    font-size: 30px;
    color: white;
    font-weight: normal;
    margin: 0;
    padding-left: 30px;
    line-height: 70px;
}

header span {
    color: gold;
}